<html lang="en"><head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Meta tag Keywords -->
    <link rel="stylesheet" href="{{ asset("css/css.css") }}"> <!-- Font-Awesome-Icons-CSS -->
</head>
    <body style>
        <div class="header-w3l">
            {% block body %}{% endblock %}
        </div>

    </body></html>
